# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfplan

# Python
.venv/
__pycache__/
*.pyc

# Secrets
.env

# OS
.DS_Store
